.main {
  display: flex;
  justify-content: space-between;
  margin-top: 105px;
  gap: 10px;
  flex-wrap: wrap;
  @include tablet {
    display: flex;
    align-items: center;
    margin-inline: auto;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include text($ff__title, 700, 80px, 84px, $white);
    max-width: 420px;
    @include tablet {
      @include text($ff__title, 700, 42px, 63px, $white);
    }
  }

  &__desc {
    margin-top: 24px;
    @include text($ff, 400, 21px, 39px, $white_07);
    letter-spacing: -0.656526px;
    max-width: 536px;
    @include tablet {
      @include text($ff, 400, 16px, 24px, $white_07);
    }
  }

  &__btn {
    margin-top: 50px;
    @include text($ff, 700, 20px, 27px, $white);
    display: flex;
    align-items: center;
    background: #5454d4;
    border-radius: 4px;
    padding: 16px 27px;
    max-width: 204px;
    @include tablet {
      max-width: 166px;
      padding: 11px 19px;
      @include text($ff, 700, 16px, 22px, $white);
    }
    img {
      padding-left: 14px;
    }
  }

  &__photo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    z-index: 0;
    img {
      max-width: 640px;
      max-height: 640px;
    }

    @include tablet {
      img {
        max-width: 300px;
      }
    }
  }
  &__svg {
    z-index: -1;
    &_1 {
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 95px;
        height: 28px;
        margin-top: 51px;
      }
      @include tablet {
        img {
          width: 61px;
          height: 18px;
        }
      }
    }
    &_2 {
      img {
        position: absolute;
        right: 0;
        top: 0;
        width: 51px;
        height: 60px;
        margin-right: 5px;
      }
      @include tablet {
        img {
          width: 36px;
          height: 42px;
        }
      }
    }
    &_3 {
      img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 73px;
        height: 73px;
      }
      @include tablet {
        img {
          width: 46px;
          height: 46px;
        }
      }
    }
    &_4 {
      img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 33px;
        height: 33px;
        margin-bottom: 100px;
      }
      @include tablet {
        img {
            width: 26px;
            height: 26px;
        }
      }
    }
  }
}
