.service {
  margin-top: 150px;
  &__title {
    @include text($ff__title, 700, 60px, 70px, $white);
    text-align: center;
    @include tablet {
      @include text($ff__title, 700, 36px, 54px, $white);
      max-width: 327px;
    }
  }

  &__choise {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include tablet {
      grid-template-columns: 1fr;
      align-items: center;
    }
  }

  &__card {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;
    &:nth-child(1) {
      img {
        background: rgba(84, 84, 212, 0.1);
        border-radius: 50%;
        padding: 21px;
      }
    }
    &:nth-child(2) {
      img {
        background: rgba(240, 64, 55, 0.1);
        border-radius: 50%;
        padding: 21px;
      }
    }
    &:nth-child(3) {
      img {
        background: rgba(254, 220, 90, 0.1);
        border-radius: 50%;
        padding: 21px;
      }
    }
    &:nth-child(4) {
      img {
        background: rgba(254, 220, 90, 0.1);
        border-radius: 50%;
        padding: 21px;
      }
    }
    &:nth-child(5) {
      img {
        background: rgba(84, 84, 212, 0.1);
        border-radius: 50%;
        padding: 21px;
      }
    }
    &:nth-child(6) {
      img {
        background: rgba(240, 64, 55, 0.1);
        border-radius: 50%;
        padding: 21px;
      }
    }
  }
}
.card {
  &__img {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 20px;
    @include text($ff, 600, 28px, 38px, $white);
    text-align: center;
    letter-spacing: -0.750316px;
  }

  &__desc {
    @include text($ff, 400, 20px, 28px, $white_07);
    text-align: center;
    letter-spacing: -0.500211px;
    max-width: 300px;
  }
}
